@model List<Chef>
<!-- Insert Model Here -->
<div class="row justify-content-center">
    <div class="col-lg-10 rounded justify-content-center m-4 bg-white">
        <div class="row justify-content-center m-3 border-bottom">
            <h1>Check out our roster of Chefs!</h1>
        </div>
        <div class="row justify-content-center m-3">
            <table class="table table-striped h-25 scroll">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 50%;">Name</th>
                    <th scope="col" style="width: 25%;">Age</th>
                    <th scope="col" style="width: 25%;"># of Dishes</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var chef in Model)
                {
                    <tr>
                        <td>@chef.FirstName @chef.LastName</td>
                        <td>@chef.Age</td>
                        <td>@chef.CreatedDishes.Count</td>
                    </tr>
                }
            </table>
        </div>
        <div class="row justify-content-center m-3 border-bottom">
            <a href="/newChef" class="btn btn-success mb-4">Add a Chef</a>
        </div>
    </div>
</div>